@charset "utf-8";

* {margin:0; padding:0;}
html, body{width:100%; height:100%;overflow:hidden;}
body,input,textarea,select,table,button{line-height:15px;font-family:Dotum,Gulim,AppleGothic,Sans-serif;font-size:12px;}
body{position:relative;color:#000;}
caption, legend, #accessibility, .hidden{font-size: 0;line-height: 0;text-indent: -5000px;}
img, fieldset, iframe{border:0 none;vertical-align:middle;}
fieldset{font-size:0;}
ul,ol{list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer;}
em,address{font-style:normal;}
table {border-collapse:collapse; table-layout:fixed;}
hr{display:none;}
.hidden {clear: both;font-size: 0;height: 0;line-height: 0;visibility: hidden;width: 0;}
.cl{*zoom:1;}
.cl:after{content:'';display:block;clear:both;}

.b {font-weight:bold;}

/* background-color */
.bgRed {background-color:#FFECEC;}
.bgGray {background-color:#FBFBFB;}
.bgWhite {background-color:#FFFFFF;}
.bgSky {background-color:#F0FDFF;}
.bgBlack {background-color:#848694;}
.bgYellow {background-color:#FFFFD9;}

.bgEven {background-color:#f9f9f9;}

#powerballPointBetGraph {position:relative;width:100%;height:40px;}
#powerballPointBetGraph .oddChart{position:relative;float:left;width:50%;height:40px;margin-left:-16px;}
#powerballPointBetGraph .oddBar{position:absolute;background:url(/images/blue_bar.png) repeat-x 0 0;display:block;width:0;height:20px;top:10px;right:-10px;}
#powerballPointBetGraph .oddPer{position:absolute;top:15px;right:113px;width:35px;text-align:right;display:block;color:#1265cd;font-family:DINWeb-Bold;}

#powerballPointBetGraph .vsChart{position:absolute;left:50%;top:5px;margin-left:-16px;width:32px;height:32px;background:url(/images/vs_icon.png) repeat-x 0 0;border-radius:20px;z-index:1;}

#powerballPointBetGraph .evenChart{position:relative;float:right;width:50%;height:40px;margin-right:-16px;}
#powerballPointBetGraph .evenBar{position:absolute;background:url(/images/red_bar.png) repeat-x right 0;display:block;width:0;height:20px;top:10px;left:-10px;}
#powerballPointBetGraph .evenPer{position:absolute;top:15px;left:113px;width:35px;text-align:left;display:block;color:#cd1212;font-family:DINWeb-Bold;}

.box-chatting{width:100%;position:relative;z-index:10;border-top:2px solid #71757b;border-bottom:1px solid #71757b;background:#fff;}
.box-chatting .btn-etc{position:relative;z-index:10;background:#efefef;border-left:1px solid #cecece;border-right:1px solid #cecece;border-bottom:1px solid #cecece;}
.box-chatting .btn-etc .cnt{color:#4c4c4c;}
.box-chatting .btn-etc .cnt *{vertical-align:middle;}
.box-chatting .btn-etc .cnt span {font-weight:bold;}
.box-chatting .btn-etc ul.ul-1{position:absolute;top:0;right:0;}
.box-chatting .btn-etc ul.ul-1 li{float:left;border-left:1px solid #cecece;}
.box-chatting .btn-etc ul.ul-1 li a{}
.box-chatting .table-type-1{position:relative;z-index:10;background:#fff;border-right:1px solid #cecece;border-bottom:1px solid #cecece;}
.box-chatting .table-type-1 .ul-1{background:#e2e2e2;*zoom:1;padding:0 0 0 1px;position:relative;}
.box-chatting .table-type-1 .ul-1:after{content:'';display:block;clear:both;}
.box-chatting .table-type-1 .ul-1 li{float:left;width:25%;margin-left:-1px;border-right:1px solid #cecece;}
.box-chatting .table-type-1 .ul-1 li a{display:block;height:26px;line-height:26px;text-align:center;color:#737373;}
.box-chatting .table-type-1 .ul-1 li a.on{color:#e2e2e2;background:#696969;font-weight:bold;border:1px solid #464646;margin:-1px 0 -1px 0;}
.box-chatting .table-type-1 .ul-1 .btn{float:none;margin:0;border:none;border-left:1px solid #cecece;position:absolute;top:0;right:0;}
.box-chatting .table-type-1 .ul-1 .btn a{padding:0;margin:0;}
.box-chatting .list-chatting{overflow-x:hidden;overflow-y:scroll;border-left:1px solid #cecece;border-right:1px solid #cecece;padding:0 5px 0 5px;}
.box-chatting .list-chatting li{color:#5e5e5e;padding:0 0 0 0;line-height:24px;margin:2px 0;}
.box-chatting .list-chatting li strong{color:#404040;}
.box-chatting .input-chatting{position:relative;background:#e2e2e2;padding:2px 36px 2px 2px;border-left:1px solid #cecece;border-right:1px solid #cecece;border-top:1px solid #cecece;border-top:1px solid #cecece;}/* 20140816 padding ¼öÁ¤ */
.box-chatting .input-chatting .input-1{width:100%;height:20px;line-height:20px;border:1px solid #949494;color:#949494;padding:0 5px;}/* 20140816 width ¼öÁ¤ */
.box-chatting .input-chatting .input-2{position:absolute;top:2px;right:2px;*top:3px;border:none;}
.box-chatting .input-chatting .label {position:absolute;top:5px;left:6px;color:#949494;}
.box-chatting .input-chatting .scrollBottom {position:fixed;bottom:40px;right:35px;width:40px;height:40px;background-color:#127CCB;border-radius:80px;z-index:99;opacity:0.5;display:none;background:#127CCB url(/images/bg_scrollbottom.png) center center no-repeat;}
.box-chatting .input-chatting .scrollBottom:hover {opacity:1;}

.box-chatting .list-connect {position:relative;overflow:auto;border-left:1px solid #cecece;border-right:1px solid #cecece;padding:0;overflow-x:hidden;overflow-y:scroll;}
.box-chatting .list-connect li{color:#5e5e5e;line-height:24px;border-bottom:1px dotted #CECECE;font-weight:bold;padding:5px;}
.box-chatting .list-connect li strong{color:#404040;}
.box-chatting .list-connect li.none {border-bottom:none;}

.box-chatting .list-room {overflow:auto;border-left:1px solid #cecece;border-right:1px solid #cecece;padding:0;}
.box-chatting .list-room li {position:relative;color:#5e5e5e;height:52px;line-height:25px;margin:0;border-bottom:1px dotted #CECECE;padding:2px 5px;}
//.box-chatting .list-room li .roomImg {position:absolute;top:7px;left:7px;width:40px;height:40px;border:1px dotted #CECECE;}

.box-chatting .list-room li .thumb {position:absolute;top:7px;left:7px;width:40px;height:40px;border:1px dotted #CECECE;cursor:pointer;}
.box-chatting .list-room li .thumb img {width:40px;height:40px;}
.box-chatting .list-room li .thumb.black {border:1px solid #000;}
.box-chatting .list-room li .thumb.blue {border:1px solid #0D50A3;}
.box-chatting .list-room li .thumb.red {border:1px solid #A30D0D;}

.box-chatting .list-room li .thumb.black .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#000;color:#fff;text-align:center;line-height:15px;font-size:11px;}
.box-chatting .list-room li .thumb.blue .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#0D50A3;color:#fff;text-align:center;line-height:15px;font-size:11px;}
.box-chatting .list-room li .thumb.red .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#A30D0D;color:#fff;text-align:center;line-height:15px;font-size:11px;}

.box-chatting .list-room li .title {margin-left:55px;font-family:tahoms,dotum;font-size:11px;font-weight:normal;}
.box-chatting .list-room li .title .win {color:#c11a20;}
.box-chatting .list-room li .title .draw {color:#626262;}
.box-chatting .list-room li .title .lose {color:#1265cd;}
.box-chatting .list-room li .title .totalWin {color:#14805E;}
.box-chatting .list-room li .title .bar {font-size:9px;color:#d8d8d8;margin:0;}
.box-chatting .list-room li .sub {margin-left:55px;font-family:tahoma,dotum;}
.box-chatting .list-room li .sub .b {color:#14805E;}
.box-chatting .list-room li .date {position:absolute;right:10px;font-weight:normal;font-size:11px;color:#a29c9b;}
.box-chatting .list-room li .opener {position:absolute;top:26px;left:130px;}
.box-chatting .list-room li strong{color:#404040;}
.box-chatting .list-room li.none {border-bottom:none;}
.box-chatting .list-room li .badge1 {position:absolute;top:0;right:66px;z-index:96;}
.box-chatting .list-room li .badge2 {position:absolute;top:0;right:44px;z-index:97;}
.box-chatting .list-room li .badge3 {position:absolute;top:0;right:22px;z-index:98;}
.box-chatting .list-room li .badge4 {position:absolute;top:0;right:0;z-index:99;}

//.box-chatting .input-chatting{position:relative;background:#e2e2e2;padding:2px 10px 2px 2px;border-left:1px solid #cecece;border-right:1px solid #cecece;border-top:1px solid #cecece;border-top:1px solid #cecece;}/* 20140816 padding ¼öÁ¤ */
//.box-chatting .input-chatting .input-1{width:100%;height:20px;line-height:20px;border:1px solid #949494;color:#949494;text-indent:3px;}/* 20140816 width ¼öÁ¤ */

/* chat */
#msgBox {font-size:11px;word-wrap:break-word;overflow-y:scroll;white-space:-moz-pre-wrap;white-space:pre-wrap;}
#msgBox .msg-system {background-color:#cb500e;border:1px solid #9d3e0b;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-guide {background-color:#2943a3;border:1px solid #18275c;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-auto {background-color:#1C701C;border:1px solid #155515;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-auto2 {background-color:#2943a3;border:1px solid #155515;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-auto3 {background-color:#8E1316;border:1px solid #741012;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-auto4 {background-color:#275171;border:1px solid #21445e;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-macro {background-color:#4c4c4c;border:1px solid #262626;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-notice {background-color:#cb500e;border:1px solid #9d3e0b;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-gift {background-color:#1C701C;border:1px solid #155515;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;text-align:center;}
#msgBox .msg-autoGift {background-color:#1C701C;border:1px solid #155515;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-odd {background-color:#156AEA;border:1px solid #1156bd;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;text-align:center;}
#msgBox .msg-even {background-color:#C11A20;border:1px solid #B01D1D;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;text-align:center;}
#msgBox .msg-pick {background-color:#1C701C;border:1px solid #155515;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;text-align:center;}
#msgBox .msg-admin {background-color:#4c4c4c;border:1px solid #262626;min-height:22px;line-height:22px;color:#fff;padding:0 5px;margin:3px 0;}
#msgBox .msg-system span, #msgBox .msg-system a {color:yellow;}
#msgBox .msg-guide span, #msgBox .msg-guide a {color:yellow;}
#msgBox .msg-auto span, #msgBox .msg-auto a {color:yellow;}
#msgBox .msg-auto4 span, #msgBox .msg-auto4 a {color:yellow;}
#msgBox .msg-admin span, #msgBox .msg-admin a {color:yellow;}
#msgBox .msg-auto2 span {color:yellow;}
#msgBox .msg-auto3 span {color:yellow;}
#msgBox .msg-macro span, #msgBox .msg-macro a {color:yellow;}
#msgBox .msg-notice span, #msgBox .msg-notice a {color:yellow;}
#msgBox .msg-gift span {color:yellow;}
#msgBox .msg-autoGift span {color:yellow;}
#msgBox .msg-odd span,#msgBox .msg-even span {color:yellow;}
#msgBox .msg-pick span {color:yellow;}

#msgBox li {position:relative;}
#msgBox li.admin {color:#A22B2B;font-weight:bold;}
#msgBox li.devadmin {color:#2c55a0;font-weight:bold;}
#msgBox li.supporter {color:#1c6f00;}
#msgBox li.superchat {color:#9545b4;}
#msgBox li .uname .familyNick {color:#d95904;}
#msgBox li.superchat .uname .familyNick {color:#d95904;}
#msgBox li .pick_odd {background-color:#156AEA;width:60px;height:42px;border-radius:30px;color:#fff;font-size:16px;font-weight:bold;text-align:center;margin:10px auto;padding-top:18px;}
#msgBox li .pick_even {background-color:#C11A20;width:60px;height:42px;border-radius:30px;color:#fff;font-size:16px;font-weight:bold;text-align:center;margin:10px auto;padding-top:18px;}

#msgBox .msg-whisper {color:#2962D9;}
#msgBox .msg-whisper .whisperNick {color:#2962D9;font-weight:bold;}

#msgBox li.present {margin:5px 0;background-color:#e6f8ff;border:1px solid #85c8fe;text-align:center;padding:10px 0;}
#msgBox li.present div {margin-top:10px;}
#msgBox li.present div a {font-weight:bold;color:#A22B2B;}
#msgBox li.present div strong {color:#A22B2B;}

#msgBox.gasBg {background:url(/images/bg_gas.gif) bottom center;z-index:-2;}

#fixNoticeBox {display:none;position:absolute;width:100%;background-color:#000;height:25px;line-height:25px;color:yellow;font-weight:bold;z-index:100;}

#connectListBox {display:none;}
#roomListBox {display:none;}

#blindBox {position:absolute;top:25px;left:0;z-index:999;width:100%;height:100%;background-color:#bf2b17;opacity:0.9;}
#blindBox .guide {position:relative;top:50%;text-align:center;vertical-align:middle;width:100%;height:100%;font-size:12px;font-weight:normal;color:#fff;line-height:20px;margin-top:-50px;}
#blindBox .guide a {color:yellow;}
#blindBox .guide span {color:yellow;}
#blindbox.on {display:block;}
#blindBox.off {display:none;}

.userInfoBox {border:1px solid #464646;background-color:#fff;width:189px;margin:0;padding:0;}
.userInfoBox li.title {background-color:#464646;color:#fff;margin:0;height:20px;line-height:20px;padding:0 6px;font-weight:bold;}
.userInfoBox li a {display:block;text-decoration:none;height:20px;line-height:20px;padding:0 6px;}
.userInfoBox li a:hover {background-color:#f2f2f2;}

.userInfoBetBox {width:190px;border:1px solid #464646;border-top:none;font-size:11px;background-color:#fff;}
.userInfoBetBox th {border:1px solid #464646;height:18px;text-align:center;background-color:#464646;color:#fff;}
.userInfoBetBox td {border:1px solid #464646;height:18px;text-align:center;color:#666666;}
.userInfoBetBox span.ing {color:red;}
.userInfoBetBox span.ing2 {color:yellow;}
.userInfoBetBox span.end {color:none;}

/* bullet */
.bulletBox {position:relative;height:150px;text-align:center;}
.bulletBox .cnt {padding-top:30px;color:#fff;font-size:15px;font-weight:bold;}

.autoGiftBox {position:relative;height:100px;text-align:center;}

/* connectList */
#connectList li:nth-child(even) {background-color:#f9f9f9;}

/* roomList */
//#roomList li:nth-child(even) {background-color:#f9f9f9;}

/* ruleBox */
#ruleBox {border:1px solid #CECECE;}
#ruleBox .borderBox {background-color:#F5F5F5;margin:5px;border:1px solid #CECECE;padding:10px;}
#ruleBox .borderBox .tit {color:#C11A20;font-weight:bold;}
#ruleBox .borderBox ul {margin-top:5px;margin-left:5px;font-size:11px;line-height:18px;}

/* modal layer */
.modalLayer {position:absolute;top:0;left:0;width:100%;height:100%;background:url(/images/bg_mask.png);z-index:9999;display:none;}
.modalLayer .passwdInput {position:relative;width:250px;border:1px solid #2d2d2d;background-color:#fafafa;display:none;}
.modalLayer .passwdInput .tit {position:relative;height:35px;border-bottom:1px solid #2d2d2d;background-color:#5a5a5a;}
.modalLayer .passwdInput .tit h2 {padding-left:10px;line-height:35px;font-size:12px;font-family:'±¼¸²',Gulim;color:#fff;}
.modalLayer .passwdInput .tit .close {position:absolute;top:9px;right:9px;background:url(/images/btn_close.png);width:16px;height:16px;}
.modalLayer .passwdInput .content {padding:5px 30px;border-bottom:1px dotted #e1e1e1;}
.modalLayer .passwdInput .content input {margin:20px auto 5px auto;display:block;padding:0 5px;width:120px;height:30px;line-height:30px;font-size:15px;border:1px solid #a5a5a5;text-align:center;}
.modalLayer .passwdInput .content p {text-align:center;color:#470c0c;padding-bottom:10px;font-size:11px;}
.modalLayer .passwdInput .btn {height:50px;text-align:center;}
.modalLayer .passwdInput .btn .btn_join {margin-top:9px;border:1px solid #151515;background-color:#4C4C4C;color:#fff;padding:7px;text-align:center;display:inline-block;}
.modalLayer .passwdInput .btn .btn_join:hover {background-color:#151515;}

/* user layer */
#userLayer {display:block;position:absolute;min-width:180px;border:1px solid #0E578D;z-index:10000;background:#127CCB;}
#userLayer .lutop {padding:0 20px 0 10px;height:26px;line-height:25px;font-weight:bold;color:#fff;background:#127CCB;}
#userLayer .ubody {padding:4px;background-color:#f8f8f8;}
#userLayer .ubody ul {}
#userLayer .ubody li {}
#userLayer .ubody a {display:block;margin-bottom:-1px;padding-left:5px;height:21px;border:1px solid #f8f8f8;font-size:11px;font-family:tahoma,dotum;overflow:hidden;color:#535353;}
#userLayer .ubody a:hover {position:relative;border:1px solid #dad9d8;background-color:#f0f0f0;color:#000;z-index:10;}

//#userLayer .ubody a .ico {float:left; margin:3px 5px 0 0; width:15px; height:16px;}
#userLayer .ubody a .ico {float:left; margin:3px 3px 0 0; width:0; height:0;}
#userLayer .ubody a .txt {float:left;margin-top:4px;height:14px;line-height:14px;}

#userLayer .game {background-color:#e4fce4;padding:3px 5px;border-bottom:1px dotted #d5d5d5;}
#userLayer .game ul li {height:22px;line-height:22px;font-size:11px;font-family:tahoma,dotum;color:#535353;}
#userLayer .game ul li .win {color:red;}
#userLayer .game ul li .lose {color:blue;}

.ticker {margin: 0 auto;padding: 5px;width: 100%;text-align: left;position: relative;overflow: hidden;background-color:#ffffff;}
.ticker ul {width: 100%;position: relative;}
.ticker ul li {width: 100%;display: none;}
div.ticker{position:absolute;z-index:100;margin:0 auto;background: linear-gradient(45deg, #0D568C, #4C4C4C);color:#fff;font-size:11px;}
div.ticker ul{margin:auto;}
div.ticker ul li a {color:#fff;}

/* sp_chat */
.sp-bl_pp {width:25px;height:25px;background:url(../../images/sp_chat.png) -608px -139px;display:inline-block;}
.sp-btn_chat_adminSound {width:28px;height:25px;background:url(../../images/sp_chat.png) -298px -490px;display:block;}
.sp-btn_chat_adminSound.on {width:28px;height:25px;background:url(../../images/sp_chat.png) -598px -443px;display:block;}
.sp-btn_ladder {width:28px;height:25px;background:url(../../images/sp_chat.png) -250px -490px;display:block;}
.sp-btn_ladder.on {width:28px;height:25px;background:url(../../images/sp_chat.png) -202px -490px;display:block;}
.sp-btn_chat1 {width:28px;height:25px;background:url(../../images/sp_chat.png) -154px -490px;display:block;}
.sp-btn_chat2 {width:28px;height:25px;background:url(../../images/sp_chat.png) -106px -490px;display:block;}
.sp-btn_chat3 {width:28px;height:25px;background:url(../../images/sp_chat.png) -550px -443px;display:block;}
.sp-btn_chat4 {width:28px;height:25px;background:url(../../images/sp_chat.png) -10px -490px;display:block;}
.sp-btn_chat5 {width:28px;height:25px;background:url(../../images/sp_chat.png) -463px -430px;display:block;}
.sp-btn_chat_sound {width:28px;height:25px;background:url(../../images/sp_chat.png) -415px -430px;display:block;}
.sp-btn_chat_sound.on {width:28px;height:25px;background:url(../../images/sp_chat.png) -58px -490px;display:block;}
.sp-btn_enter {width:22px;height:22px;background:url(../../images/sp_chat.png) -608px -215px;}
.sp-badge5 {width:8px;height:8px;background:url(../../images/sp_chat.png) -625px -490px;}
.sp-badge10 {width:8px;height:13px;background:url(../../images/sp_chat.png) -10px -597px;}
.sp-badge15 {width:8px;height:18px;background:url(../../images/sp_chat.png) -608px -327px;}
.sp-badge20 {width:8px;height:23px;background:url(../../images/sp_chat.png) -608px -367px;}
.sp-win1 {width:11px;height:11px;background:url(../../images/sp_chat.png) -351px -566px;}
.sp-win2 {width:11px;height:11px;background:url(../../images/sp_chat.png) -289px -566px;}
.sp-win3 {width:11px;height:11px;background:url(../../images/sp_chat.png) -258px -566px;}
.sp-win4 {width:11px;height:11px;background:url(../../images/sp_chat.png) -227px -566px;}
.sp-win5 {width:11px;height:11px;background:url(../../images/sp_chat.png) -196px -566px;}
.sp-win6 {width:11px;height:11px;background:url(../../images/sp_chat.png) -165px -566px;}
.sp-win7 {width:11px;height:11px;background:url(../../images/sp_chat.png) -134px -566px;}
.sp-win8 {width:11px;height:11px;background:url(../../images/sp_chat.png) -103px -566px;}
.sp-win9 {width:11px;height:11px;background:url(../../images/sp_chat.png) -72px -566px;}
.sp-win10 {width:11px;height:11px;background:url(../../images/sp_chat.png) -41px -566px;}
.sp-win11 {width:11px;height:11px;background:url(../../images/sp_chat.png) -10px -566px;}
.sp-win12 {width:11px;height:11px;background:url(../../images/sp_chat.png) -599px -535px;}
.sp-win13 {width:11px;height:11px;background:url(../../images/sp_chat.png) -568px -535px;}
.sp-win14 {width:11px;height:11px;background:url(../../images/sp_chat.png) -537px -535px;}
.sp-win15 {width:11px;height:11px;background:url(../../images/sp_chat.png) -506px -535px;}
.sp-win16 {width:11px;height:11px;background:url(../../images/sp_chat.png) -475px -535px;}
.sp-win17 {width:11px;height:11px;background:url(../../images/sp_chat.png) -408px -490px;}
.sp-win18 {width:11px;height:11px;background:url(../../images/sp_chat.png) -320px -566px;}
.sp-win19 {width:11px;height:11px;background:url(../../images/sp_chat.png) -320px -535px;}
.sp-win20 {width:11px;height:11px;background:url(../../images/sp_chat.png) -382px -566px;}
.sp-win21 {width:11px;height:11px;background:url(../../images/sp_chat.png) -413px -566px;}
.sp-win22 {width:11px;height:11px;background:url(../../images/sp_chat.png) -444px -566px;}
.sp-win23 {width:11px;height:11px;background:url(../../images/sp_chat.png) -608px -257px;}
.sp-win24 {width:11px;height:11px;background:url(../../images/sp_chat.png) -608px -410px;}
.sp-win25 {width:11px;height:11px;background:url(../../images/sp_chat.png) -511px -430px;}
.sp-win26 {width:11px;height:11px;background:url(../../images/sp_chat.png) -346px -490px;}
.sp-win27 {width:11px;height:11px;background:url(../../images/sp_chat.png) -377px -490px;}
.sp-win28 {width:11px;height:11px;background:url(../../images/sp_chat.png) -475px -566px;}
.sp-win29 {width:11px;height:11px;background:url(../../images/sp_chat.png) -439px -490px;}
.sp-win30 {width:11px;height:11px;background:url(../../images/sp_chat.png) -470px -490px;}
.sp-win31 {width:11px;height:11px;background:url(../../images/sp_chat.png) -501px -490px;}
.sp-win32 {width:11px;height:11px;background:url(../../images/sp_chat.png) -532px -490px;}
.sp-win33 {width:11px;height:11px;background:url(../../images/sp_chat.png) -563px -490px;}
.sp-win34 {width:11px;height:11px;background:url(../../images/sp_chat.png) -594px -490px;}
.sp-win35 {width:11px;height:11px;background:url(../../images/sp_chat.png) -10px -535px;}
.sp-win36 {width:11px;height:11px;background:url(../../images/sp_chat.png) -41px -535px;}
.sp-win37 {width:11px;height:11px;background:url(../../images/sp_chat.png) -72px -535px;}
.sp-win38 {width:11px;height:11px;background:url(../../images/sp_chat.png) -103px -535px;}
.sp-win39 {width:11px;height:11px;background:url(../../images/sp_chat.png) -134px -535px;}
.sp-win40 {width:11px;height:11px;background:url(../../images/sp_chat.png) -165px -535px;}
.sp-win41 {width:11px;height:11px;background:url(../../images/sp_chat.png) -196px -535px;}
.sp-win42 {width:11px;height:11px;background:url(../../images/sp_chat.png) -227px -535px;}
.sp-win43 {width:11px;height:11px;background:url(../../images/sp_chat.png) -258px -535px;}
.sp-win44 {width:11px;height:11px;background:url(../../images/sp_chat.png) -289px -535px;}
.sp-win45 {width:11px;height:11px;background:url(../../images/sp_chat.png) -608px -184px;}
.sp-win46 {width:11px;height:11px;background:url(../../images/sp_chat.png) -351px -535px;}
.sp-win47 {width:11px;height:11px;background:url(../../images/sp_chat.png) -382px -535px;}
.sp-win48 {width:11px;height:11px;background:url(../../images/sp_chat.png) -413px -535px;}
.sp-win49 {width:11px;height:11px;background:url(../../images/sp_chat.png) -444px -535px;}
.sp-bullet1 {width:115px;height:100px;background:url(../../images/sp_chat.png) -415px -10px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet2 {width:115px;height:100px;background:url(../../images/sp_chat.png) -145px -250px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet3 {width:115px;height:100px;background:url(../../images/sp_chat.png) -10px -130px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet4 {width:115px;height:100px;background:url(../../images/sp_chat.png) -145px -130px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet5 {width:115px;height:100px;background:url(../../images/sp_chat.png) -280px -10px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet6 {width:115px;height:100px;background:url(../../images/sp_chat.png) -280px -130px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet7 {width:115px;height:100px;background:url(../../images/sp_chat.png) -10px -250px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet8 {width:115px;height:100px;background:url(../../images/sp_chat.png) -10px -10px;position:relative;top:-53px;margin:0 auto;}
.sp-bullet9 {width:115px;height:100px;background:url(../../images/sp_chat.png) -280px -250px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit {width:115px;height:100px;background:url(../../images/sp_chat.png) -145px -370px;margin:0 auto;}
.sp-biscuit1 {width:115px;height:100px;background:url(../../images/sp_chat.png) -145px -370px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit2 {width:115px;height:100px;background:url(../../images/sp_chat.png) -145px -10px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit3 {width:115px;height:100px;background:url(../../images/sp_chat.png) -415px -130px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit4 {width:115px;height:100px;background:url(../../images/sp_chat.png) -415px -250px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit5 {width:115px;height:100px;background:url(../../images/sp_chat.png) -10px -370px;position:relative;top:-53px;margin:0 auto;}
.sp-biscuit6 {width:115px;height:100px;background:url(../../images/sp_chat.png) -280px -370px;position:relative;top:-53px;margin:0 auto;}
.sp-icon_mobile {width:16px;height:16px;background:url(../../images/sp_chat.png) -608px -291px;display:inline-block;vertical-align:middle;}
.sp-badge5_s {width:38px;height:56px;background:url(../../images/sp_chat.png) -550px -367px;}
.sp-badge10_s {width:38px;height:56px;background:url(../../images/sp_chat.png) -550px -139px;}
.sp-badge15_s {width:38px;height:56px;background:url(../../images/sp_chat.png) -550px -215px;}
.sp-badge20_s {width:38px;height:56px;background:url(../../images/sp_chat.png) -550px -291px;}
.sp-target {width:84px;height:109px;background:url(../../images/sp_chat.png) -550px -10px;margin:0 auto;}
.sp-profile {width:40px;height:40px;background:url(../../images/sp_chat.png) -475px -370px;}
.sp-lock {width:40px;height:40px;background:url(../../images/sp_chat.png) -415px -370px;margin:0 auto;}

/* local asset override (sprite) */
[class^="sp-"], [class*=" sp-"] { background-image:url(/images/sp_chat.png) !important; }