@charset "utf-8";

* {margin:0; padding:0;}
html, body{width:100%; height:100%;}
body,input,textarea,select,table,button{line-height:15px;font-family:"돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;font-size:12px;}
body{position:relative;color:#000;}
caption, legend, #accessibility, .hidden{font-size: 0;line-height: 0;text-indent: -5000px;}
img, fieldset, iframe{border:0 none;vertical-align:top;}
fieldset{font-size:0;}
ul,ol{list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer;}
em,address{font-style:normal;}
table {border-collapse:collapse; table-layout:fixed;}
hr{display:none;}
.hidden {clear: both;font-size: 0;height: 0;line-height: 0;visibility: hidden;width: 0;}
.cl{*zoom:1;}
.cl:after{content:'';display:block;clear:both;}

.b {font-weight:bold;}

body {overflow-y:hidden;}
#header {position:relative;padding:0 15px;height:40px;background-color:#127CCB;border-bottom:1px solid #0E609C;}
#container {position:relative;}
#footer {position:relative;width:100%;height:25px;line-height:25px;font-family:Tahoma,Geneva,sans-serif;font-size:9px;letter-spacing:1px;text-align:center;background-color:#062c46;color:#fff;z-index:1000;}

#header h2 {float:left; height:40px; line-height:40px; font-size:12px; color:#fff;}
#header .bar {float:left; margin:5px 10px 0 10px; width:1px; height:11px; background-color:#4d4542;}
#header .newsticker {position:absolute;top:8px;left:85px;height:25px;overflow:hidden;}
#header .newsticker li {height:25px;line-height:25px;font-weight:bold;}
#header .newsticker li a {color:#F7E227;}

/* left area */
.leftArea {background-color:#d2d2d2;padding-right:316px;}

.leftArea .category {position:relative;padding:0 15px;height:29px;border-top:1px solid #1b93eb;border-bottom:1px solid #0b4977;background-color:#127CCB;}
.leftArea .category .cate {float:left;}
.leftArea .category .order {float:right;}
.leftArea .category li {float:left;}
.leftArea .category a {float:left;height:29px;line-height:29px;font-size:11px;font-family:'돋움',Dotum;color:#fff;}
.leftArea .category a.on {font-weight:bold;color:#F7E227;}
.leftArea .category .bar {float:left;width:1px;height:15px;background-color:#0E609C;border-right:1px solid #1b93eb;margin:8px 10px;}

.mainBanner {padding:8px;text-align:center;}

.leftArea .roomList li:nth-child(even) {background-color:#f9f9f9;}

.leftArea .roomList {padding:0;margin-left:8px;background-color:#fff;overflow-y:auto;border:1px solid #0D513A;}

.leftArea .roomList.best {margin:0 0 8px 8px;border:1px solid #0D513A;}
.leftArea .roomList.best li {border-bottom:none;background-color:#FFFFD9;}

.leftArea .roomList li {position:relative;height:66px;list-style:none;border-bottom:1px dotted #CECECE;background-color:#fff;}
.leftArea .roomList li.premium {background-color:#F0FDFF;}

.leftArea .roomList li .thumb {position:absolute;top:7px;left:7px;width:50px;height:50px;border:1px dotted #CECECE;}
.leftArea .roomList li .thumb img {width:50px;height:50px;}
.leftArea .roomList li .thumb img.lockMask {position:absolute;top:0;left:-1px;width:52px;z-index:99;}
.leftArea .roomList li .thumb .winFixCnt {z-index:100;}
.leftArea .roomList li .thumb.black {border:1px solid #000;}
.leftArea .roomList li .thumb.blue {border:1px solid #0D50A3;}
.leftArea .roomList li .thumb.red {border:1px solid #A30D0D;}

.leftArea .roomList li .thumb.black .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#000;color:#fff;text-align:center;line-height:15px;font-size:11px;}
.leftArea .roomList li .thumb.blue .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#0D50A3;color:#fff;text-align:center;line-height:15px;font-size:11px;}
.leftArea .roomList li .thumb.red .winFixCnt {position:absolute;bottom:-1px;right:-1px;width:15px;height:15px;background-color:#A30D0D;color:#fff;text-align:center;line-height:15px;font-size:11px;}

.leftArea .roomList li .inner {position:relative;padding:0 10px;color:#DBDBDB;margin-left:57px;}
.leftArea .roomList li .inner .winFix {position:relative;top:7px;height:26px;line-height:26px;padding:0 5px;color:#fff;float:left;margin-right:5px;background-color:#3a3a3a;border:1px solid #000;}
.leftArea .roomList li .inner .totalWin {position:relative;top:7px;height:26px;line-height:26px;padding:0 5px;color:#f9ea60;float:left;margin-right:5px;background-color:#127CCB;border:1px solid #0e543e;}
.leftArea .roomList li .inner .winLose {position:relative;top:7px;height:26px;line-height:26px;padding:0 5px;color:#fff;float:left;margin-right:5px;}
.leftArea .roomList li .inner .winLose.win {background-color:#c11a20;border:1px solid #8f1317;}
.leftArea .roomList li .inner .winLose.draw {background-color:#626262;border:1px solid #464646;}
.leftArea .roomList li .inner .winLose.lose {background-color:#1265cd;border:1px solid #0e4c99;}
.leftArea .roomList li .inner .tit {position:relative;top:7px;height:26px;line-height:26px;padding:0 5px;color:#000;float:left;margin-right:5px;}
.leftArea .roomList li .inner .tit img {vertical-align:middle;margin-bottom:3px;}
.leftArea .roomList li .inner .desc {position:absolute;top:42px;font-size:11px;font-family:tahoma,dotum;color:#8b8b8b;}
.leftArea .roomList li .inner .desc.hidden {display:none;}

.leftArea .roomList li .userCntBox {width:90px;height:52px;position:absolute;top:7px;right:150px;text-align:right;font-family:tahoma;dotum;color:#454545;font-weight:bold;padding-right:10px;}
.leftArea .roomList li .userCntBox .userCnt {height:26px;line-height:26px;}
.leftArea .roomList li .userCntBox .userCnt .curCnt {color:#127CCB;}
.leftArea .roomList li .userCntBox .date {height:26px;line-height:26px;font-weight:normal;font-size:11px;color:#8B8B8B;}

.leftArea .roomList li .line {width:0;height:54px;position:absolute;top:6px;right:150px;border-right:1px solid #e8e8e8;}

.leftArea .roomList li .userInfo {width:140px;position:absolute;top:7px;right:0;color:#454545;padding-left:10px;background-color:none;height:52px;}
.leftArea .roomList li .userInfo .user {height:26px;line-height:26px;}
.leftArea .roomList li .userInfo .user img {vertical-align:middle;}
.leftArea .roomList li .userInfo .user .uname {color:#5E5E5E;}
.leftArea .roomList li .userInfo .enterBtn {display:block;width:120px;height:20px;line-height:20px;padding:0 5px;font-weight:normal;font-size:11px;margin-right:5px;margin-top:4px;background-color:#f1f1f1;color:#8e8e8e;border:1px solid #d8d8d8;text-align:center;}
.leftArea .roomList li .userInfo .enterBtn:hover {border:1px solid #0e578d;background-color:#127CCB;color:#fff;}

.leftArea .roomList li .btn_favoriteDel {position:absolute;width:12px;height:12px;text-align:center;line-height:12px;background-color:#f1f1f1;border:1px solid #d8d8d8;top:7px;right:7px;cursor:pointer;}

/* right area */
.rightArea {position:absolute;top:0;right:0;width:316px;background-color:#d2d2d2;}

.rightArea .btn {height:29px;background-color:#127CCB;border-top:1px solid #1b93eb;border-bottom:1px solid #0b4977;}
.rightArea .btn .create {color:#fff;height:29px;line-height:29px;font-weight:bold;float:right;margin-right:15px;}
.rightArea .btn .myroom {color:#fff;height:29px;line-height:29px;font-weight:bold;float:right;}
.rightArea .btn .bar {float:right;width:1px;height:15px;background-color:#0E609C;border-right:1px solid #1b93eb;margin:8px 10px;}

.rightArea .myInfo {margin:8px;border:1px solid #0e578d;background-color:#fff;}
.rightArea .myInfo .tit {background-color:#127CCB;height:25px;line-height:25px;font-weight:bold;color:#fff;padding-left:10px;border-bottom:1px solid #000;}
.rightArea .myInfo .inner {position:relative;height:40px;line-height:40px;padding-left:5px;}
.rightArea .myInfo .inner img {vertical-align:middle;}
.rightArea .myInfo .inner .uname {color:#5E5E5E;}

.rightArea .userList {margin:0 8px;background-color:#fff;border:1px solid #0e578d;height:380px;}
.rightArea .userList .tit {background-color:#127CCB;height:25px;line-height:25px;font-weight:bold;color:#fff;padding-left:10px;border-bottom:1px solid #000;}
.rightArea .userList .tit span {color:#F7E227;font-family:tahoma,dotum;}
.rightArea .userList ul {overflow-y:auto;height:350px;}
.rightArea .userList ul li {position:relative;height:47px;line-height:47px;border-bottom:1px dotted #bfbfbf;padding-left:5px;}
.rightArea .userList ul li img.profile {width:30px;height:30px;border:1px solid #e0e0e0;border-radius:3px;margin-right:5px;}
.rightArea .userList ul li img.mark {margin-top:-12px;}
.rightArea .userList ul li img {vertical-align:middle;}
.rightArea .userList ul li .uname {color:#5E5E5E;}
.rightArea .userList ul li .icon_me {position:absolute;top:32px;left:5px;width:32px;height:13px;background:url(https://simg.powerballgame.co.kr/images/sp_chatRoomMark.png) no-repeat 0 -26px;text-indent:-9999px;}
.rightArea .userList ul li .todayMsg {float:right;background:url(https://simg.powerballgame.co.kr/images/sp_todayMsg.png) right -31px no-repeat;margin-top:8px;margin-right:5px;padding-right:11px;height:31px;overflow:hidden;}
.rightArea .userList ul li .todayMsg .inn {max-width:121px;background:url(https://simg.powerballgame.co.kr/images/sp_todayMsg.png) 0 0 no-repeat;height:28px;padding-top:3px;padding-left:11px;}
.rightArea .userList ul li .todayMsg .inn p {height:25px;overflow:hidden;}
.rightArea .userList ul li .todayMsg .inn p span {display:table-cell;height:25px;line-height:13px;color:#3e3e3e;font-size:11px;vertical-align:middle;}

.rightBanner {padding:8px 0;text-align:center;}

/* modal layer */
.modalLayer {position:absolute;top:0;left:0;width:100%;height:100%;background:url(https://simg.powerballgame.co.kr/images/bg_mask.png);z-index:9999;display:none;}
.modalLayer .passwdInput {position:relative;width:250px;border:1px solid #0E578D;background-color:#fafafa;display:none;}
.modalLayer .passwdInput .tit {position:relative;height:35px;border-bottom:1px solid #0E578D;background-color:#127CCB;}
.modalLayer .passwdInput .tit h2 {padding-left:10px;line-height:35px;font-size:12px;font-family:'굴림',Gulim;color:#fff;}
.modalLayer .passwdInput .tit .close {position:absolute;top:9px;right:9px;background:url(https://simg.powerballgame.co.kr/images/btn_close.png);width:16px;height:16px;}
.modalLayer .passwdInput .content {padding:5px 30px;border-bottom:1px dotted #e1e1e1;}
.modalLayer .passwdInput .content input {margin:20px auto 5px auto;display:block;padding:0 5px;width:120px;height:30px;line-height:30px;font-size:20px;border:1px solid #d4d4d4;text-align:center;}
.modalLayer .passwdInput .content p {text-align:center;color:#666;padding-bottom:10px;font-size:11px;}
.modalLayer .passwdInput .btn {height:50px;text-align:center;}
.modalLayer .passwdInput .btn .btn_join {margin-top:9px;border:1px solid #151515;background-color:#4C4C4C;color:#fff;padding:7px;text-align:center;display:inline-block;}
.modalLayer .passwdInput .btn .btn_join:hover {background-color:#151515;}

.modalLayer .createChatRoom {position:relative;width:430px;height:410px;border:1px solid #0E578D;background-color:#fafafa;display:none;}
.modalLayer .createChatRoom .tit {position:relative;height:35px;border-bottom:1px solid #0E578D;background-color:#127CCB;}
.modalLayer .createChatRoom .tit h2 {padding-left:10px;line-height:35px;font-size:12px;font-family:'굴림',Gulim;color:#fff;}
.modalLayer .createChatRoom .tit .close {position:absolute;top:9px;right:9px;background:url(https://simg.powerballgame.co.kr/images/btn_close.png);width:16px;height:16px;}

.modalLayer .createChatRoom dl {margin:30px auto;width:370px;border-top:1px dotted #e1e1e1;}
.modalLayer .createChatRoom dt {float:left;padding:8px 0 0 10px;width:100px;height:23px;border-right:1px dotted #e1e1e1;border-bottom:1px dotted #e1e1e1;background-color:#fcfcfc;color:#666;}
.modalLayer .createChatRoom dt span {display:block;height:15px;line-height:15px;}
.modalLayer .createChatRoom dd {float:left;padding:5px 0 0 5px;width:250px;height:26px;line-height:23px;border-bottom:1px dotted #e1e1e1;color:#666;}
.modalLayer .createChatRoom dd input {padding:0 5px;width:240px;height:20px;line-height:20px;border:1px solid #d4d4d4;}
.modalLayer .createChatRoom dd input[type=checkbox] {padding:0 5px;width:15px;height:15px;line-height:20px;border:1px solid #d4d4d4;vertical-align:middle;}
.modalLayer .createChatRoom dd select {padding:0;border:1px solid #d4d4d4;}

.modalLayer .createChatRoom .btn {height:50px;text-align:center;}
.modalLayer .createChatRoom .btn .btn_create {margin-top:15px;border:1px solid #151515;background-color:#4C4C4C;color:#fff;padding:7px;text-align:center;display:inline-block;}
.modalLayer .createChatRoom .btn .btn_create:hover {background-color:#151515;}

/* user layer */
#userLayer {display:block;position:absolute;min-width:180px;border:1px solid #0E578D;z-index:10000;}
#userLayer .lutop {padding:0 20px 0 10px;height:26px;line-height:25px;font-weight:bold;color:#fff;background:#127CCB;}
#userLayer .ubody {padding:4px;background-color:#f8f8f8;}
#userLayer .ubody ul {}
#userLayer .ubody li {}
#userLayer .ubody a {display:block;margin-bottom:-1px;padding-left:5px;height:21px;border:1px solid #f8f8f8;font-size:11px;font-family:tahoma,dotum;overflow:hidden;color:#535353;}
#userLayer .ubody a:hover {position:relative;border:1px solid #dad9d8;background-color:#f0f0f0;color:#000;z-index:10;}

//#userLayer .ubody a .ico {float:left; margin:3px 5px 0 0; width:15px; height:16px;}
#userLayer .ubody a .ico {float:left; margin:3px 3px 0 0; width:0; height:0;}
#userLayer .ubody a .txt {float:left;margin-top:4px;height:14px;line-height:14px;}

#userLayer .game {background-color:#e4fce4;padding:3px 5px;border-bottom:1px dotted #d5d5d5;}
#userLayer .game ul li {height:22px;line-height:22px;font-size:11px;font-family:tahoma,dotum;color:#535353;}
#userLayer .game ul li .win {color:red;}
#userLayer .game ul li .lose {color:blue;}
