/* sp_logs */
.sp-date_prev {width:10px;height:19px;background:url(/images/sp_log.png) -321px -88px;}
.sp-date_prev.on {width:10px;height:19px;background:url(/images/sp_log.png) -321px -49px;}
.sp-date_next {width:10px;height:19px;background:url(/images/sp_log.png) -321px -10px;}
.sp-date_next.on {width:10px;height:19px;background:url(/images/sp_log.png) -237px -195px;}
.sp-date_today {width:33px;height:29px;background:url(/images/sp_log.png) -268px -10px;}
.sp-date_today.on {width:33px;height:29px;background:url(/images/sp_log.png) -268px -59px;}
.sp-date_cal {width:33px;height:29px;background:url(/images/sp_log.png) -268px -108px;}
.sp-date_cal.on {width:33px;height:29px;background:url(/images/sp_log.png) -184px -195px;}
.sp-search {width:46px;height:44px;background:url(/images/sp_log.png) -10px -131px;}
.sp-search.on {width:46px;height:44px;background:url(/images/sp_log.png) -76px -131px;}
.sp-icon_open {width:34px;height:16px;background:url(/images/sp_log.png) -10px -259px;}
.sp-dayspace_bg {width:154px;height:45px;background:url(/images/sp_log.png) -10px -10px;}
.sp-day {width:46px;height:44px;background:url(/images/sp_log.png) -10px -195px;}
.sp-day.on {width:46px;height:44px;background:url(/images/sp_log.png) -142px -131px;}
.sp-data_odd {width:64px;height:36px;background:url(/images/sp_log.png) -10px -75px;text-align:center;vertical-align:middle;color:#fff;line-height:36px;}
.sp-data_even {width:64px;height:36px;background:url(/images/sp_log.png) -184px -10px;text-align:center;vertical-align:middle;color:#fff;line-height:36px;}
.sp-data_under {width:64px;height:36px;background:url(/images/sp_log.png) -184px -66px;text-align:center;vertical-align:middle;color:#fff;line-height:36px;}
.sp-data_over {width:64px;height:36px;background:url(/images/sp_log.png) -94px -75px;text-align:center;vertical-align:middle;color:#fff;line-height:36px;}
.sp-odd {width:29px;height:29px;background:url(/images/sp_log.png) -268px -206px;}
.sp-even {width:29px;height:29px;background:url(/images/sp_log.png) -268px -157px;}
.sp-under {width:34px;height:29px;background:url(/images/sp_log.png) -76px -195px;}
.sp-over {width:34px;height:29px;background:url(/images/sp_log.png) -130px -195px;}
.sp-big {width:29px;height:29px;background:url(/images/sp_log.png) -79px -247px;}
.sp-middle {width:29px;height:29px;background:url(/images/sp_log.png) -129px -247px;}
.sp-small {width:29px;height:29px;background:url(/images/sp_log.png) -180px -247px;}
.sp-ball_bg {width:34px;height:34px;background:url(/images/sp_log.png) -208px -131px;font-size:14px;color:#000;line-height:36px;}